<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="sqlSubscription" type="Shuttle.Esb.Sql.Subscription.SqlSection, Shuttle.Esb.Sql.Subscription"/>
		</sectionGroup>
	</configSections>

	<shuttle>
    <sqlSubscription
			subscriptionManagerConnectionStringName="subscription-connection-string-name"
      ignoreSubscribe="false"
      />
	</shuttle>
</configuration>