<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="sqlSubscription" type="Shuttle.Esb.Sql.Subscription.SqlSection, Shuttle.Esb.Sql.Subscription"/>
	</configSections>

	<sqlSubscription
		subscriptionManagerConnectionStringName="subscription-connection-string-name"
		ignoreSubscribe="false"
    />
</configuration>