<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="subscription" type="Shuttle.Esb.Sql.Subscription.SubscriptionSection, Shuttle.Esb.Sql.Subscription"/>
	</configSections>

  <subscription
    connectionStringName="connection-string-name"
    subscribe="Ensure"
	cacheTimeout="0.0:10:0" />
</configuration>
