<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="subscription" type="Shuttle.Esb.Sql.Subscription.SubscriptionSection, Shuttle.Esb.Sql.Subscription"/>
		</sectionGroup>
	</configSections>

	<shuttle>
    <subscription
			connectionStringName="connection-string-name"
      subscribe="Ensure" />
	</shuttle>
</configuration>